body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  color: red;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

li {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
}

li:hover {
  background-color: #f0f0f0;
}
